:root {
  --border-color-default: #e0e0e0;
  --color-success: #50B83C;
  --color-primary: #2979ff;
  --color-danger: #ef5350;

  --popper-theme-background-color: #0d1a3e;
  --popper-theme-background-color-hover: #0d1a3e;
  --popper-theme-text-color: #ffffff;
  --popper-theme-border-width: 0px;
  --popper-theme-border-style: none;
  --popper-theme-border-radius: 6px;
  --popper-theme-padding: 6px;
  --popper-theme-box-shadow: 0 6px 30px -6px rgba(0, 0, 0, 0.25);
}